#content{
    max-width:1000px;
    margin:0 auto;
    padding: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#content > div{
    margin-top:20px;
    display:flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow:1;
    flex-shrink: 1;
}
#content > div:nth-child(odd) > p { order:2; padding: 0 0 0 30px;}
img{height: 100%;width: 20%;}
@media (max-width: 992px){
    img{width:40%;height:100%;}
}
@media (max-width: 768px){
    img{width:100%;}
}